.song-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // th:last-child {
  //   text-align: right !important;
  // }

  td,
  th {
    border-color: transparent !important;
  }

  th {
    padding-left: 0px;
  }
}
