.player-splash-text {
  line-height: 0.8 !important;
  opacity: 1;
  overflow: hidden;
  text-transform: uppercase;
  font-style: italic;

  // -webkit-background-clip: text;
  // // background-clip: text;
  // -webkit-text-fill-color: transparent;
}
