/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'Computer Modern';
  src: url(fonts/cmunrm.ttf);
}

body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.home-main {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://f4.bcbits.com/img/a2312567325_10.jpg'); */
  /* animation: myanim 30s infinite;
  -webkit-animation: myanim 30s infinite; */
}

.home-main::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: black;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(6px) brightness(0.3);
  animation: myanim 240s cubic-bezier(0.24, 0, 0.86, 1) infinite;
  -webkit-animation: myanim 240s cubic-bezier(0.24, 0, 0.86, 1) infinite;
}

.player-details-type {
  font-family: 'Computer Modern' !important;
  font-size: 14px;
}

.player-control {
  background-color: black;
  transition: all 0.5s;
}

.rounded {
  border-radius: 10px;
}

.player-details-grid > * {
  align-self: center;
}

div[role='progressbar'] {
  background-color: white;
  border-radius: 9999px;
}

.chakra-progress {
  background-color: transparent !important;
}

.flex-absolute-box {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes myanim {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 0px 0%;
  }
  100% {
    background-position: 0 100%;
  }
}

// @keyframes myanim {
//   0% {
//     background-position: 0 0%;
//     opacity: 0%;
//   }
//   5% {
//     background-position: 0 5%;
//     opacity: 100%;
//   }
//   95% {
//     background-position: 0 95%;
//     opacity: 100%;
//   }
//   100% {
//     background-position: 0 100%;
//     opacity: 0%;
//   }
// }

@-webkit-keyframes myanim
/* Safari and Chrome */ {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 20px 0;
  }
  100% {
    background-position: 0 0;
  }
}
